.form-group{
  max-width: 300px;
  padding-bottom: 20px;
}
.level-1{
  padding: 30px;
  background-color: lightyellow;
  border: 1px solid lightgoldenrodyellow;
  border-radius: 4px;
  max-width: 96%;
}

h3{
  margin-bottom: 30px;
}